@page "/"

<PageTitle>BFA Consulting - Consulenza Energetica</PageTitle>

<Navbar />
<main>
    <Hero />
    <About />
    <Services />
    <Projects />
    <Testimonials />
    <Contact />
</main>
<Footer />
